
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Wattics</h2>
            <hr class="star-primary">
            <%= image_tag "freelancer/portfolio/wattics.png", class: "img-responsive", alt: "" %>
            <p>I was part of the technical team working on the development of an <a href="http://wattics.com/">energy analytics web app </a>. I took initiatives to ensure a nice User Experience, and became responsible for UX and UI design in the team. The technologies I was using were :
            <ul>
              <li>Ruby (with Ruby on Rails and a large variety of Gems)</li>
              <li>Javascript avec React, Backbone (and Marionette), jQuery, Underscore js</li>
              <li>HTML / CSS (and Bootstrap)</li>
            </ul>
            </p>
            <p>
            I also designed a service allowing Pacific Gas & Electricity customers to allow Wattics to fetch their energy consumption data (API). I also created the job to import data daily.</p>
            <ul class="list-inline item-details">
              <li>Company:
                <strong><a href="http://wattics.com/">Wattics</a>
                </strong>
              </li>
              <li>Duration:
                <strong>8 months</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Cogiteem</h2>
            <hr class="star-primary">
            <%= image_tag "freelancer/portfolio/cogiteem.png", class: "img-responsive", alt: "" %>
            <p>Cogiteem is an intranet/extranet designed by students, for students. 
            It has been designed do be used by any group of students who want to share documents and work together.</p>
            <p>It is built with <a href="https://laravel.com/">Laravel</a>, a robust PHP framework.</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong>ITEEM's student organization
                </strong>
              </li>
              <li>Period:
                <strong>February-April 2017
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Clicdata</h2>
            <hr class="star-primary">
            <%= image_tag "freelancer/portfolio/clicdata.png", class: "img-responsive", alt: "" %>
            <p> <a href="http://clicdata.com/">Clicdata</a>'s objective is to help people build dashboards easily in order to understand better their data.</p>
            <p>I worked essentially on the front-end part of the application. I solved bugs and added some features. I learned to use Javascript with jQuery, as well as Less (CSS pre-processor) and Visual Basic .NET for the back end. Our team was managed with the Agile approach (Scrum method). </p>
            <p>I had to show perseverance when solving tricky bugs and discovering the company's libraries, which was appreciated by my manager.</p>
            <ul class="list-inline item-details">
              <li>Company:
                <strong><a href="http://clicdata.com/">Clicdata</a>
                </strong>
              </li>
              <li>Period:
                <strong>June-August 2016
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Community website</h2>
            <hr class="star-primary">
            <%= image_tag "freelancer/portfolio/cbyc.PNG", class: "img-responsive", alt: "" %>
            <p>In a team of 8 people, we designed a community website aimed at reinventing the company's customer relationships. Not only we built the website, but we also created a community management strategy to engage people.</p>
            <ul class="list-inline item-details">
              <li>Client:
                <strong>Confidential.
                </strong>
              </li>
              <li>Period:
                <strong>September - May 2017
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Wattics Service - PG&E Gateway</h2>
            <hr class="star-primary">
            <%= image_tag "freelancer/portfolio/pge-graph.PNG", class: "img-responsive", alt: "" %>
            <p> This project allows <a href="http://wattics.com/">Wattics</a> users to authorize the company to retrieve their data from their <a href="https://www.pge.com/">PG&E</a> subscription. It is a service that communicates with PG&E's "Share My Data" <a href="https://www.pge.com/en_US/business/your-account/account-management/share-your-data/green-button-data-exchange/api-access.page">API</a> and Wattics <a href="https://www.wattics.com/api/">API</a></p>
            <p>The project is composed of 2 main features : </p>
            <ul>
              <li>
                Authorization to retrieve data
              </li>
              <li>
                Daily Job to check already stored data, and to retrieve energy consumption values. It also formats the values and sends them to Wattics.
              </li>
            </ul>
            <p>It has been the opportunity for me to <a href="https://github.com/NansD/green-button-data">contribute</a> to an open source <a href="https://github.com/VerdigrisTech/green-button-data">Ruby gem</a> that allows to parse GreenButtonXML files.</p>
            <ul class="list-inline item-details">
              <li>Company:
                <strong><a href="http://wattics.com/">Wattics</a>
                </strong>
              </li>
              <li>Period:
                <strong>August - October 2017
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Defensive Radar</h2>
            <hr class="star-primary">
            <%= image_tag "freelancer/portfolio/defensiveradar2.png", class: "img-responsive", alt: "" %>
            <p>This is a school project for the Automatic course. My classmate (<a href="https://www.linkedin.com/in/st%C3%A9phane-delebass%C3%A9-b31986115/">Stéphane Delebassé</a>) and I worked on regulating 2 lego motors. Then we built a defensive robot that uses MakeBlock Sensors and Lego Motors to scan its surounding area and fire at nearby targets.</p>
            <p>It was more of a project for fun, but it was a great experience to work with Arduino's implementation of C++ and to work with Makeblock's <a href="https://github.com/Makeblock-official/Makeblock-Libraries">libraries</a>.</p>
            <ul class="list-inline item-details">
              <li>Date:
                <strong>April-May 2018
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
